<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Nautilus</title>
    
	<link rel="shortcut icon" href="/{{nautilus_url}}/static/img/appicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/{{ nautilus_url }}/static/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ nautilus_url }}/static/img/apple-touch-icon-144x144.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" id="vp" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    {% include 'nautilus_stylesheets.jinja2' %}
	<meta />
</head>

<body>
	<div id="main_view" class="view">
		<div class="container-fluid" id="wrapper">
			<div class="row row-offcanvas row-offcanvas-left">
				<div class="sidebar-offcanvas no-padding" id="sidebar" role="navigation">
					<ul class="nav nav-sidebar">
						<li><a class="sidebar-nav" id="status_btn"><span class="fa fa-info-circle"></span></a></li>
						<li><a class="sidebar-nav" id="printer_btn"><span class="fa fa-print"></span></a></li>
						<li><a class="sidebar-nav" id="movement_btn"><span class="fa fa-arrows" data-bind="style: { color: acceptsCommands() ? '' : '#6f6f6f' }"></span></a></li>
						<li><a class="sidebar-nav" id="offset_btn"><span class="fa fa-sliders" data-bind="style: { color: acceptsCommands() ? '' : '#6f6f6f' }"></span></a></li>
						<li><a class="sidebar-nav" id="camera_btn"><span class="fa fa-camera"></span></a></li>
					</ul>
				</div>
				<div class="no-padding pull-right" id="main">

					<div id="status_panel" class="panel">
						<div class="status_bar printer_status" data-bind="style: { background: printer.progress() > 0 ? 'linear-gradient(90deg, #17b566 '+printer.progress()+'%, #ed2b36 0%)':printer.power()?'#17b566':'#ed2b36' }">
							<div class="zchange" data-bind="visible: printer.inProgress, text: printer.zchange"></div>
							<div class="hotend" data-bind="visible: !printer.inProgress(), text: printer.slicer_config"></div>
							<div class="port" data-bind="text: printer.port"></div>
							<div class="nozzle" data-bind="text: printer.hotend_config"></div>
							<div data-bind="html: printer.status"></div>
						</div>
						<div class="status_bar printing_time_elapsed" data-bind="visible: printer.inProgress, text: formatSeconds(printer.time_elapsed())"></div>
						<div class="status_bar printing_time_left" data-bind="visible: printer.inProgress, style: { backgroundColor: printer.printTimeLeftOriginClass}">
							<div data-bind="text: printer.aprox_time_left"></div>
							<div class="print_time_origin" style="display: none" data-bind="visible: printer.printTimeLeftOrigin, text: printer.printTimeLeftOriginString"></div>
						</div>
						<div class="status_bar extruder_temp"><div data-bind="visible: temp_visible">
							<span class='fa fa-lg fa-fire'></span><span data-bind="html:extruder_temp"></span></div>
						</div>
						<div class="status_bar bed_temp"><div data-bind="visible: printer.bed_actual() > 0 "><span class='fa fa-lg fa-bed'></span><span data-bind="html:bed_temp"></span></div></div>
					</div>

					<div id="printer_panel" class="panel">
						<div class="row printer_row_1">
							<div class="btn-group" data-bind="visible: has_switch()">
								<button type="button"  class="btn btn-default" data-bind="click: printer.toggleLights, enable: !printer.inProgress() "><span class="fa fa-lg fa-lightbulb-o" data-bind="style: { color: printer.lights()?'#17b566':'#b1adaa' }"></span></button>
								<button type="button"  class="btn btn-default" data-bind="click: printer.toggleMute"><span class="fa fa-lg fa-bell-o" data-bind="style: { color: printer.mute()?'#b1adaa':'#17b566' }"></span></button>
								<button type="button"  class="btn btn-default" data-bind="click: printer.toggleUnload"><span class="fa fa-lg fa-external-link" data-bind="style: { color: printer.unload()?'#3466ff':'#b1adaa' }"></span></button>
								<button type="button"  class="btn btn-default" data-bind="click: printer.togglePowerOff"><span class="fa fa-lg fa-power-off" data-bind="style: { color: printer.poweroff()?'#3466ff':'#b1adaa' }"></span></button>
							</div>
							<button type="button"  class="btn btn-danger" data-bind="click: printer.resetPrinter, enable: !printer.inProgress(), visible: (has_switch() && !printer.inProgress())"><span class="fa fa-repeat"></span> Reset <i class='fa fa-umbrella'></i></button>
							<button type="button"  class="btn btn-default" id="reset_btn" data-bind="css: {'btn-default': !printer.ready(), 'btn-danger': printer.ready()}, enable: !printer.inProgress(), visible: (has_switch() && !printer.inProgress()) || !has_switch(), click: printer.ready()?printer.printerDisconnect:printer.printerConnect" ><span class="fa fa-usb"></span><span data-bind="html: (printer.ready() ? ' Disconnect  <i class=\'fa fa-sm fa-umbrella\'></i>' : ' Connect')"></span></button>
							<button type="button"  class="btn btn-default" data-bind="click: printer.togglePower, enable: printer.ready, visible: has_switch() && !printer.inProgress()"><span class="fa  fa-lg fa-power-off" data-bind="style: { color: printer.power()?'#17b566':'#ed2b36' }"></span> Power</button>
							<button type="button"  class="btn btn-emergency" data-bind="click: printer.emergencyStop, visible: has_switch() && printer.inProgress()"><span class="fa fa-lg fa-life-ring" style="color: #ff002b;"></span>  Emergency STOP  <i class='fa fa-umbrella'></i></button>
							
						</div>
						<div class="row printer_row_2">
							<div class="row slider-row">
								<div class="col-xs-8">
									<input class="temp_slider" id="hotend0_slider" type="text"/>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default" data-bind="enable: printer.acceptsCommands, click: sendExtruder0Temperature, style: { color: extruder0_slider_value() == 0  ? '#17b566' : '#ed2b36' }"><span data-bind="visible: printer.dual_nozzle()">left&nbsp;</span><span class="fa fa-lg fa-fire"></span><span data-bind="text: extruder0_slider_value() == 0  ? ' off': ' to ' + config_extruder0_temp()  + settings.printer.temperature_scale"></span></button>
								</div>
							</div>
							<div class="row slider-row" data-bind="visible: printer.dual_nozzle()">
								<div class="col-xs-8">
									<input class="temp_slider temp_slider_dual" id="hotend1_slider" type="text"/>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default" data-bind="enable: printer.dual_nozzle() && printer.acceptsCommands(), click: sendExtruder1Temperature, style: { color: extruder1_slider_value() == 0  ? '#17b566' : '#ed2b36' }"><span>right&nbsp;</span><span class="fa fa-lg fa-fire"></span><span data-bind="text: extruder1_slider_value() == 0  ? ' off': ' to ' + config_extruder1_temp()  + settings.printer.temperature_scale"></span></button>
								</div>
							</div>
							<div class="row  slider-row">
								<div class="col-xs-8">
									<input class="temp_slider temp_bed_slider" id="bed_slider" type="text" />
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default" data-bind="enable: printer.acceptsCommands, click: sendBedTemperature, style: { color: bed_slider_value() == 0  ? '#17b566' : '#ed2b36' }""><span></span><span class="fa fa-lg fa-bed"></span><span data-bind="text: bed_slider_value() == 0  ? ' off': ' to ' + config_bed_temp() + settings.printer.temperature_scale"></span></button>
								</div>
							</div>
							<div class="row slider-row">
								<div class="col-xs-8">
									<input class="fan_slider" type="text" data-bind="sliderValue: {value: fan_slider_value, ticks: [0, 25, 50, 75, 100], ticks_positions: [0, 25, 50, 75, 100],  ticks_labels: ['Off', '1/4', 'Half', '3/4', 'Full'], step:25, tooltip: 'hide'}"/>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default" data-bind="enable: printer.alwaysAcceptsCommands, click: setFanSpeed, style: { color: fan_slider_value() == 0  ? '#17b566' : '#337ab7' }"><span></span><span class="fa fa-lg fa-asterisk"></span><span data-bind="text: fan_slider_value() == 0  ? ' off': ' to ' + fan_slider_value() + '%'"></span></button>
								</div>
							</div>
						</div>
						<div class="row printer_row_3">
							<button type="button" class="btn btn-success" data-bind="enable:printer.ready, visible: !printer.isFileLoaded(), click: loadLatestFile"><span class="fa fa-lg fa-file-text"></span> Load latest file</button>
							<button type="button" class="btn btn-link" data-bind="click:deselectFile, visible: printer.isFileLoaded()"><span class="fa fa-lg fa-file-text"></span>&nbsp;<span data-bind="text: printer.fileToPrint"><span></button>
							<button type="button" class="btn btn-link" data-bind="click:showInfo, visible: printer.fileInfo() != null"><span class="fa fa-lg fa-info-circle info-file"></span></button>
						</div>
						<div class="row printer_row_4">
							<div class="btn-group btn-group-justified">
								<div class="btn-group" ><button type="button" class="btn btn-lg btn-primary" data-bind="enable: canStartPrinting, click: startPrint"><span class="fa fa-lg fa-print"></span> Print <i class='fa fa-umbrella'></i></button></div>
								<div class="btn-group" ><button type="button" class="btn btn-lg btn-default" data-bind="visible: printer.paused, click: pausePrint"><span class="fa fa-lg fa-play"></span> Resume</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="visible: !printer.paused(), enable: printer.printing, click: pausePrint"><span class="fa fa-lg fa-pause"></span> Pause</button></div>
								<div class="btn-group" ><button type="button" class="btn btn-lg btn-danger" data-bind="enable: printer.inProgress , click: cancelPrint"><span class="fa fa-lg fa-stop"></span> Cancel <i class='fa fa-umbrella'></i></button></div>
							</div>
						</div>
					</div>

					<div id="movement_panel" class="panel">
						<div class="row movement-row-1">
							<div class="col-xs-6 no-padding">
								<button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'home_all')"><span class="fa fa-home"></span></button>
								<div class="btn-group">
									<button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'home_x')">X</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'home_y')">Y</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'home_z')">Z</button>
								</div>
								<button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'auto_level')"><span class="fa fa-bars"></span></button>
							</div>
						<div class="col-xs-6 no-padding">
							<div class="btn-group btn-spaced">
								<button type="button" class="btn btn-lg btn-default" data-bind="click: load_filament"><span class="fa fa-long-arrow-down"></span> Load</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="click: unload_filament"><span class="fa fa-long-arrow-up"></span> Unload</button>
							</div>
							</div>
						</div>
						<div class="row movement-row-2">
							<div class="col-xs-6 no-padding">
								<div class="btn-group-vertical">
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'goto_back_left')"><span class="fa  fa-chevron-left fa-rotate-45"></span></button></div>
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'goto_front_left')"><span class="fa  fa-chevron-down fa-rotate-45" style="color:#17b566"></span></button></div>
								</div>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'goto_center')"><span class="fa fa-dot-circle-o"></span></button>
								<div class="btn-group-vertical">
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'goto_back_right')"><span class="fa fa-chevron-up fa-rotate-45"></span></button></div>
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'goto_front_right')"><span class="fa fa-chevron-right fa-rotate-45"></span></button></div>
								</div>
							</div>
							<div class="col-xs-6 no-padding">
								<div class="btn-group-vertical">
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'extrude')"><span class="fa fa-angle-down"></span> Extrude</button></div>
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'extrude_more')"><span class="fa fa-angle-double-down"></span> Extrude</button></div>
								</div>
								<div class="btn-group-vertical">
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'retract_more')"><span class="fa fa-angle-double-up"></span> Retract</button></div>
									<div class="btn-group"><button type="button" class="btn btn-lg btn-default" data-bind="click: sendCommandByName.bind($data, 'retract')"><span class="fa fa-angle-up"></span> Retract</button></div>
								</div>
							</div>
						</div>
						<div class="row movement-row-3">
							<div class="col-xs-6 no-padding">
							<button type="button" class="btn btn-default" data-bind="click: sendCommandByName.bind($data, 'motors_off')"><span class="fa fa-lg fa-gears"></span> Motors Off</button>
							</div>
							<div class="col-xs-6 no-padding" data-bind="visible: printer.dual_extruder()">
								<input id="tool_select" type="checkbox" checked>
							</div>	
						</div>
						<div class="row movement-row-4">
								<div class="btn-group-vertical">
									<div class="btn-group">
										<div class="btn-group"><button type="button" class="btn btn-lg btn-default disabled">X</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendCommandByName.bind($data, 'goto_x_min')"><i class="fa fa-small fa-arrow-left"></i> </button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'X-100 F6000')">100</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'X-10 F4000')">10</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'X-1 F1000')">1</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'X1 F1000')">1</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'X10 F4000')">10</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'X100 F6000')">100</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendCommandByName.bind($data, 'goto_x_max')"><i class="fa fa-small fa-arrow-right"></i> </button></div> 
										<div class="btn-group"><button type="button" class="btn btn-lg btn-default disabled">X</button></div>
									</div> 
									<div class="btn-group">
										<div class="btn-group"><button type="button" class="btn btn-lg btn-default disabled">Y</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendCommandByName.bind($data, 'goto_y_min')"><i class="fa fa-small fa-arrow-down fa-rotate-45"></i> </button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'Y-100 F6000')">100</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'Y-10 F4000')">10</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'Y-1 F1000')">1</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'Y1 F1000')">1</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'Y10 F4000')">10</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'Y100 F6000')">100</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendCommandByName.bind($data, 'goto_y_max')"><i class="fa fa-small fa-arrow-up fa-rotate-45"></i> </button></div> 
										<div class="btn-group"><button type="button" class="btn btn-lg btn-default disabled">Y</button></div>
									</div>
									<div class="btn-group">
										<div class="btn-group"><button type="button" class="btn btn-lg btn-default disabled">Z</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendCommandByName.bind($data, 'goto_z_min')"><i class="fa fa-small fa-arrow-down"></i> </button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'Z-100 F3000')">100</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'Z-10 F1000')">10</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-danger" data-bind="click: sendRelativeG1.bind($data, 'Z-1 F500')">1</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'Z1 F500')">1</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'Z10 F1000')">10</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendRelativeG1.bind($data, 'Z100 F3000')">100</button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-primary" data-bind="click: sendCommandByName.bind($data, 'goto_z_max')"><i class="fa fa-small fa-arrow-up"></i> </button></div>
										<div class="btn-group"><button type="button" class="btn btn-lg btn-default disabled">Z</button></div>
									</div>
								</div>
						</div>
					</div>
					<div id="offset_panel" class="panel">
						<div class="col-xs-10 no-padding">
							<div class="offset_bar">
								<div class="offset_info">
									  <div class="offset_label">Z offset : </div>
									  <div class="offset_value" data-bind="text: offset"></div>
								 </div>
								 <div class="offset_info">
									  <div class="offset_label">Current Z : </div>
									  <div class="offset_value" data-bind="text: current_z"></div>
								</div>
							</div>
							<div class="offset_bar">
									<button type="button" class="btn btn-lg btn-default" data-bind="click: prepareOffset, enable: !prepared()"><span class='fa fa-lg fa-download'></span> Prepare for offset calculation</button>
							</div>
							<div class="offset_bar">
								<button type="button" class="btn btn-lg btn-default" data-bind="click: saveOffset, enable: prepared()"><span class='fa fa-lg fa-save'></span> Save Z offset</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="click: offsetDone, enable: !prepared()"><span class='fa fa-lg  fa-home'></span> Go Home</button>
							</div>
							<div class="offset_bar">								
								<div class="btn-group">
									<button type="button" class="btn btn-lg btn-default" data-bind="click: macro1, enable: !prepared() && m1()"><span class='fa fa-lg fa-file-o'></span> M1</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: macro2, enable: !prepared() && m2()"><span class='fa fa-lg fa-file-o'></span> M2</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: macro3, enable: !prepared() && m3()"><span class='fa fa-lg fa-file-o'></span> M3</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: macro4, enable: !prepared() && m4()"><span class='fa fa-lg fa-file-o'></span> M4</button>
									<button type="button" class="btn btn-link" data-bind="click:showMacro, visible: m1() || m2() || m3() || m4()"><span class="fa fa-lg fa-info-circle info-macro"></span></button>
								</div>
							</div>
							<div class="offset_bar top-border">
								<div class="btn-group btn-group-lg">
									<button type="button" class="btn btn-lg btn-primary" data-bind="click: findZero, enable: !prepared()"><span class='fa fa-anchor fa-fw'></span> Zero</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: backLeft, enable: !prepared()"><span class='fa fa-chevron-left fa-rotate-45'></span> Left</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: frontMiddle, enable: !prepared()"><span class='fa fa-chevron-down fa-fw'></span> Middle</button>
									<button type="button" class="btn btn-lg btn-default" data-bind="click: backRight, enable: !prepared()"><span class='fa fa-chevron-right fa-rotate-315'></span> Right</button>
								</div>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="btn-group-vertical btn-group-lg full_width">
								<button type="button" class="btn btn-eight btn-primary micro_step_button " data-bind="click: sendOffsetAdjustment.bind($data, '1')"><span class="fa fa-arrow-up pull-left"></span>1</button>
								<button type="button" class="btn btn-eight btn-primary micro_step_button " data-bind="click: sendOffsetAdjustment.bind($data, '0.1')">0.1</button>
								<button type="button" class="btn btn-eight btn-primary micro_step_button " data-bind="click: sendOffsetAdjustment.bind($data, '0.05')">0.05</button>
								<button type="button" class="btn btn-eight btn-primary micro_step_button " data-bind="click: sendOffsetAdjustment.bind($data, '0.01')">0.01</button>
								<button type="button" class="btn btn-eight btn-danger micro_step_button"  data-bind="click: sendOffsetAdjustment.bind($data, '-0.01')">0.01</button>
								<button type="button" class="btn btn-eight btn-danger micro_step_button"  data-bind="click: sendOffsetAdjustment.bind($data, '-0.05')">0.05</a>
								<button type="button" class="btn btn-eight btn-danger micro_step_button"  data-bind="click: sendOffsetAdjustment.bind($data, '-0.1')">0.1</button>
								<button type="button" class="btn btn-eight btn-danger micro_step_button"  data-bind="click: sendOffsetAdjustment.bind($data, '-1')"><span class="fa fa-arrow-down pull-left"></span>1</button>
							</div>
						</div>
					</div>
					<div id="camera_panel" class="panel">
						<img id="webcam"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="disconnected_view" class="view">
			<div id="disconnected_message">Disconnected</div>
			<button type="button" class="btn btn-lg btn-default" id="reconnect"><i class="fa fa-lg fa-chain-broken"></i><span id="reconnect_message"> Attempt to reconnect</span></button>
	</div>
	
	<div id="camera_view" class="view">
		<img id="webcam_alone"/>
	</div>

    {% include 'nautilus_javascript_lib.jinja2' %}
    
	<script type="text/javascript">
	var home = false;
	var BASE_URL = location.protocol + '//' + location.host + "/";
	
	var API_KEY_A = "{{ request.headers.get('API_KEY') }}";	
	var API_KEY_X = "{{ request.headers.get('X-Api-Key') }}";	
	var API_KEY = API_KEY_X ? API_KEY_X : API_KEY_A;

	var MOBILE_URL = BASE_URL+"{{ nautilus_url }}";
	var has_switch = ko.observable({{ has_switch  | lower}});
	var SCREEN_WIDTH = window.innerWidth + "px";
	var SCREEN_HEIGHT = window.innerHeight + "px";
	
	if (! has_switch()) {
		$("#reset_btn").css("float", "right");
	}
	
	</script>
    
    {% include 'nautilus_javascripts.jinja2' %}

</body>
</html>
