<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Settings</label>
        <div class="controls">
            <textarea class="input-block-level" cols="40" rows="30" data-bind="value: settings.plugins.nautilus.gcodes"></textarea>
        </div>
        <label class="control-label">Prowl Key</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.nautilus.prowl_key">
        </div>
    </div>
</form>