							<div class="btn-group">
								<button type="button"  class="btn btn-default" data-bind="click: buttons.toggleLights, enable: !printer.inProgress() "><span class="fa fa-lg fa-lightbulb-o" data-bind="style: { color: buttons.lights()?'#17b566':'#b1adaa' }"></span></button>
								<button type="button"  class="btn btn-default" data-bind="click: buttons.toggleMute"><span class="fa fa-lg fa-bell-o" data-bind="style: { color: buttons.mute()?'#b1adaa':'#17b566' }"></span></button>
								<button type="button"  class="btn btn-default" data-bind="click: buttons.toggleUnload"><span class="fa fa-lg fa-external-link" data-bind="style: { color: buttons.unload()?'#3466ff':'#b1adaa' }"></span></button>
								<button type="button"  class="btn btn-default" data-bind="click: buttons.togglePowerOff"><span class="fa fa-lg fa-power-off" data-bind="style: { color: buttons.poweroff()?'#3466ff':'#b1adaa' }"></span></button>
							</div>
							<button type="button"  class="btn btn-danger" data-bind="click: buttons.resetPrinter, enable: !printer.inProgress(), visible: !printer.inProgress()"><span class="fa fa-repeat"></span> Reset <i class='fa fa-umbrella'></i></button>
							<button type="button"  class="btn btn-default" id="reset_btn" data-bind="css: {'btn-default': !printer.ready(), 'btn-danger': printer.ready()}, visible: !printer.inProgress(), click: printer.ready()?printer.printerDisconnect:printer.printerConnect" ><span class="fa fa-usb"></span><span data-bind="html: (printer.ready() ? ' Disconnect  <i class=\'fa fa-sm fa-umbrella\'></i>' : ' Connect')"></span></button>
							<button type="button"  class="btn btn-default" data-bind="click: buttons.togglePower, enable: printer.ready, visible: !printer.inProgress()"><span class="fa  fa-lg fa-power-off" data-bind="style: { color: printer.power()?'#17b566':'#ed2b36' }"></span> Power</button>
							<button type="button"  class="btn btn-emergency" data-bind="click: buttons.emergencyStop, visible: printer.inProgress()"><span class="fa fa-lg fa-life-ring" style="color: #ff002b;"></span>  Emergency STOP  <i class='fa fa-umbrella'></i></button>
