* {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/copy in UIWebView */
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
	font-size: 3.8vh;
  line-height: 5vh;
}

.btn, .input-group-addon {
	font-size: 2.3vw !important;
  line-height: 6vh !important;
  padding: 1.8vh 2.2vw !important;
}

.btn-lg {
	font-size: 3.2vw !important;
  line-height: 6vh !important;
  padding: 2.5vh 2.5vw !important;
}

.container-fluid, .container-fluid .row {
  padding: 0;
  margin: 0;
  background: transparent;
}

.view {
 display: none;
 height: 100vh;
 border: 0;
 padding: 0;
}

#main {
  width: 88%;
  float: right;
}

#sidebar {
  width: 12%;
  float: left;
}

.panel {
	border:0;
  border-radius: 0;
  height: 100vh;
}

.sidebar-nav {  
	text-align: center;
	height: 20vh;
	font-size: 13vh;
  line-height: 20vh;
	background-color: #22527B;
	color: #EEE;
  padding: 0 !important;
  margin: 0 !important;
}


.sidebar-nav-selected {
	background-color: #EEE;
	color: #22527B;
}

#status_panel {
	text-align: center;
	font-size: 8vh;
}

#printer_panel, #movement_panel {
	text-align: center;
	padding: 1%;
	background-color: #EEE;
}

#camera_panel {
    background: transparent;
}

#offset_panel {
	text-align: center;
}

.btn-spaced {
	margin-top: 5px;
}

.btn-horizontal-thirds {
	width: 33%;
}

.btn-horizontal-fourths {
	width: 25%; 
}

.status_bar {
	width: 100%;
	height: 33.34vh;
	line-height: 33.34vh;
	margin-bottom: 0;
	color: white;
	background-color: #17b566;
	font-size: 7.6vh !important;
}

.offset_bar {
	width: 100%;
	margin-bottom: 0;
	height: 20vh;
	line-height: 20vh;
	text-align: center;
	background-color: #EEEEEE;
}

.full_width {
	width: 100%;
}

.offset_info {
	width: 100%;
  line-height: 10vh;
  padding-top: 2vh;
}

.offset_value, .offset_label  {
  padding-top: 2vh;
  font-size: 4vh !important;
  line-height: 5vh !important;
}

.offset_label {
  width: 48%;
  text-align: right;
  float: left;
}

.offset_value {
  margin-right: 30%;
  float: right;
  text-align: left;
}

.no-padding {
    padding: 0;
    border: 0;
}

.button-row {
	margin-top: 5px;
}

.btn-half {
	width: 100%;
	height: 50vh;
	border-radius: 0;
}

.printer_row_1 {
	height: 15vh;
}

.printer_row_2 {
	height: 58vh;
}

.printer_row_3 {
	height: 12vh;
}

.printer_row_4 {
	height: 15vh;
}

.movement-row-1 {
	height: 15vh;
}

.movement-row-2 {
	height: 28vh;
}

.movement-row-3 {
	height: 15vh;
	padding-top: 15px;
}

.movement-row-4 {
	height: 42vh;
	padding-top: 15px;
}

.padded-row {
	padding-left: 6%;
	padding-right: 6%;
}

.printing_time_left {
	background-color: #ed2b36;
}

.printing_time_elapsed {
  background-color: #17b566;
  border-top: #555;
  border-top-style: solid;
  border-top-width: 1px;
}

.extruder_temp {
	background-color: #22527B;
}

.bed_temp {
	background-color: #272727;
}

.printer_status {
	font-size: 15vh;
}

#disconnected_view {
	text-align: center;
	font-size: 15vh;
	background-color: #ed2b36;
	color: white;
	font-family: 'Nunito', sans-serif;
	line-height: 50vh;
	padding: 0;
	margin:0;
  
}

#portrait_view {
	text-align: center;
	font-size: 10vh;
	background-color: #ed2b36;
	color: white;
	font-family: 'Nunito', sans-serif;
	line-height: 14vh;
  margin: 0;
	padding:28% 0;
  height: 100vh;
}

#loading_view {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 20vh;
	line-height: 100vh;
	color: white;
	padding: 0;
	margin:0;
	background-color: #223847;
}

#webcam  {
	height: 100vh;
	width: 100%;
}

#webcam_alone  {
	width: 100vw;
	overflow-y: scroll;
}

.micro_step_button {
	width: 100%;
	height: 12.8vh;
	font-size: 6vh !important;
  line-height: 12.8vh;
	border-radius: 0 !important;
	margin: 0;
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 9px !important;
	text-align: right;
	
}

.micro_step_button .fa {
	margin-left: 10px;
}

.curent_file {
	font-size: 5vh;
}

.fa-small {
  line-height: 3vh;
  width: 2vw;  
}

.fa-rotate-45 {
	 -webkit-transform: rotate(45deg);
}

.fa-rotate-315 {
	 -webkit-transform: rotate(-45deg);
}

.top-border {
	border-top-width: 1px;
	border-top-style: groove;
}

.zero_border {
	border: 0;
	-webkit-box-shadow: none;
}

/*  dialog "window" */
.modal-dialog {
	background-color: #223847;
}

.modal-dialog, .modal-content {
	font-size: 6vh;
	line-height: 6vh;
	text-align: center;
  max-height: 96vh;
  width: 97vw;
}

.bootbox-body {
	padding-top: 5vh;
  padding-bottom: 5vh;
}

.bootbox-info .bootbox-body {
  text-align: left;
  max-height: 70vh;
  overflow-y: auto;
}

.bootbox-message .modal-content  {
  background: #fbe7eb;
}


.modal-body .bootbox-close-button, .modal-footer .btn {
	font-size: 6vh;
	line-height: 6vh;
}

.btn-link span, .info-file {
    color:green;
}

.info-macro {
    color:#22527B;
}

.slider.slider-horizontal {
	width: 95%;
	margin-left: 5%;
}

.slider-row {
	height: 15vh;
}

.slider-tick-label-container {
   margin-top: 25px !important;
}
 
.slider-tick-label {
  font-size: 3.5vh;
  line-height: 1vh;
	width: 6vw !important;
	margin-left: -3vw !important;
}

#FR .slider-selection {
	background: transparent;
}

#FR .slider-tick {
	background: #f9f9f9;
}

.btn-block {
  margin-left: 1.5vw;
  padding: 1.8vh 1vw !important;
}
  
.port, .nozzle, .zchange, .hotend, .desktop, .print_time_origin {
  text-align: right;
  font-size: 4vh;
  position: absolute;
	right: 0.5vw;
  line-height: 5vh;
}
.port {
	top: 1vh;
}

.nozzle {
	top: 6vh;
}

.zchange {
	top: 14.8vh;
}

.hotend {
	top: 28vh;
}

.desktop {
	bottom: 1vh;
}

.print_time_origin {
  bottom: 40vh;
  font-size: 3vh;
  color: #fff;
}

.desktop a{
  color: #EEE;
}

.btn-group-justified {
  width: 90%;
  margin-left: 5%;
}

[data-notify="container"] {
  max-height: 90vh;
  overflow: auto;
}

[data-notify="message"] {
	font-size: 8vh;
	line-height: 8vh;
}

.btn-emergency, .btn-emergency:focus, .btn-emergency:hover {
  width: 52vw;
  color: #444;
  border-color: #ff002b;
  border-style: solid;
  border-width: 2px;
  background-image: linear-gradient(to top,#fddf18 0, #ffff01 100%);
}

.btn-emergency:focus, .btn-emergency:hover {
  border-color: #fddf18;
}

.alert {
  width: 90vw;
}

#terminal {
  position: absolute;
  top: 0;
  left: 0;
  width: 88vw;
  height: 100vh;
  margin-left: 12vw;
  padding: 0;
  display: none;
  border-radius: 0 !important;
  overflow-y: hidden; 
  overflow-x: hidden; 
}

#logs {
  background: black;
  border: 0;
  color: #0aef0a;  
  width: 300vw;
  height: 100vh;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 4.5vh;
  line-height: 5vh;
  border-radius: 0 !important;
}

.flipH { 
  -webkit-transform:scaleX(-1);
}

.flipV{
  -webkit-transform:scaleY(-1);  
}

.flipH.flipV{
  -webkit-transform:scaleX(-1) scaleY(-1);  
}

.rotate90{
  -webkit-transform:rotate(-90deg);
}
